In [8]:
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv("supermarket_sales .csv")

In [10]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [11]:
df.shape

(1000, 17)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [13]:
df.drop(['Invoice ID'],axis=1,inplace=True)

In [14]:
df.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6

In [19]:
df.columns

Index(['Branch', 'City', 'Customer type', 'Gender', 'Product line',
       'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment',
       'cogs', 'gross margin percentage', 'gross income', 'Rating'],
      dtype='object')

In [15]:
df['Branch'].unique()

array(['A', 'C', 'B'], dtype=object)

In [16]:
df['Branch']=df['Branch'].map({'A':0,'B':1,'C':2})

In [18]:
df['City'].unique()
df['City']=df['City'].map({'Yangon':0, 'Naypyitaw':1, 'Mandalay':2})

In [21]:
df['Customer type'].unique()
df['Customer type']=df['Customer type'].map({'Member':0, 'Normal':1})

In [22]:
df['Gender']=df['Gender'].map({'Male':0,'Female':1})

In [23]:
df.head(3)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,0,0,1,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,1,1,1,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,0,0,1,0,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

In [25]:
from sklearn.preprocessing import LabelEncoder
encoding = LabelEncoder()
df['Product line'] = encoding.fit_transform(df['Product line'])
df['Payment'] = encoding.fit_transform(df['Payment'])

In [26]:
df.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,0,0,1,3,74.69,7,26.1415,548.9715,1/5/2019,13:08,2,522.83,4.761905,26.1415,9.1
1,2,1,1,1,0,15.28,5,3.8200,80.2200,3/8/2019,10:29,0,76.40,4.761905,3.8200,9.6
2,0,0,1,0,4,46.33,7,16.2155,340.5255,3/3/2019,13:23,1,324.31,4.761905,16.2155,7.4
3,0,0,0,0,3,58.22,8,23.2880,489.0480,1/27/2019,20:33,2,465.76,4.761905,23.2880,8.4
4,0,0,1,0,5,86.31,7,30.2085,634.3785,2/8/2019,10:37,2,604.17,4.761905,30.2085,5.3

In [27]:
import pandas as pd

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Extract month and year from 'Date' column
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

# Convert 'Time' column to datetime format
df['Time'] = pd.to_datetime(df['Time'])

# Extract hour from 'Time' column
df['Hour'] = df['Time'].dt.hour

# Now df contains 'Month', 'Year', and 'Hour' columns with extracted information

C:\Users\khotv\AppData\Local\Temp\ipykernel_13200\579667861.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [29]:
df.drop(['Date','Time'],axis=1,inplace=True)

In [30]:
df.head(2)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Month,Year,Hour
0,0,0,0,1,3,74.69,7,26.1415,548.9715,2,522.83,4.761905,26.1415,9.1,1,2019,13
1,2,1,1,1,0,15.28,5,3.8200,80.2200,0,76.40,4.761905,3.8200,9.6,3,2019,10

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Branch                   1000 non-null   int64
 1   City                     1000 non-null   int64
 2   Customer type            1000 non-null   int64
 3   Gender                   1000 non-null   int64
 4   Product line             1000 non-null   int32
 5   Unit price               1000 non-null   float64
 6   Quantity                 1000 non-null   int64
 7   Tax 5%                   1000 non-null   float64
 8   Total                    1000 non-null   float64
 9   Payment                  1000 non-null   int32
 10  cogs                     1000 non-null   float64
 11  gross margin percentage  1000 non-null   float64
 12  gross income             1000 non-null   float64
 13  Rating                   1000 non-null   float64
 14  Month                    1000 non-null   int32
 15  Year                     1000 non-null   int32
 16  Hour                     1000 non-null   int32
dtypes: float64(7), int32(5), int64(5)
memory usage: 113.4 KB

In [32]:
#Check missing values
df.isnull().sum()

Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
Month                      0
Year                       0
Hour                       0
dtype: int64

In [33]:
df.shape

(1000, 17)

In [34]:
df.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Rating,Month,Year,Hour
0,0,0,0,1,3,74.69,7,26.1415,548.9715,2,522.83,4.761905,26.1415,9.1,1,2019,13
1,2,1,1,1,0,15.28,5,3.8200,80.2200,0,76.40,4.761905,3.8200,9.6,3,2019,10
2,0,0,1,0,4,46.33,7,16.2155,340.5255,1,324.31,4.761905,16.2155,7.4,3,2019,13
3,0,0,0,0,3,58.22,8,23.2880,489.0480,2,465.76,4.761905,23.2880,8.4,1,2019,20
4,0,0,1,0,5,86.31,7,30.2085,634.3785,2,604.17,4.761905,30.2085,5.3,2,2019,10

In [35]:
X=df.drop(['Rating'],axis=1)
y=df['Rating']

In [36]:
X.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Payment,cogs,gross margin percentage,gross income,Month,Year,Hour
0,0,0,0,1,3,74.69,7,26.1415,548.9715,2,522.83,4.761905,26.1415,1,2019,13
1,2,1,1,1,0,15.28,5,3.8200,80.2200,0,76.40,4.761905,3.8200,3,2019,10
2,0,0,1,0,4,46.33,7,16.2155,340.5255,1,324.31,4.761905,16.2155,3,2019,13
3,0,0,0,0,3,58.22,8,23.2880,489.0480,2,465.76,4.761905,23.2880,1,2019,20
4,0,0,1,0,5,86.31,7,30.2085,634.3785,2,604.17,4.761905,30.2085,2,2019,10

In [37]:
y

0      9.1
1      9.6
2      7.4
3      8.4
4      5.3
      ...
995    6.2
996    4.4
997    7.7
998    4.1
999    6.6
Name: Rating, Length: 1000, dtype: float64

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [39]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [41]:
X_train

array([[1. , 0.5, 1. , ..., 0. , 0. , 0.8],
       [0.5, 1. , 1. , ..., 0. , 0. , 0.8],
       [0. , 0. , 1. , ..., 0. , 0. , 0.5],
       ...,
       [1. , 0.5, 0. , ..., 0.5, 0. , 0.3],
       [1. , 0.5, 1. , ..., 1. , 0. , 0.9],
       [1. , 0.5, 1. , ..., 0.5, 0. , 0.1]])

In [42]:
from sklearn.linear_model import LinearRegression;
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [43]:
y_pred=model.predict(X_test)
print(y_pred)

[6.73686198 7.18558081 6.7161704  6.77512379 6.8428273  6.92376145
 6.95801709 6.84721762 7.30593159 7.34865083 7.28516084 7.18910627
 6.95729651 7.07220653 7.19047754 7.22871886 6.96952063 7.03335806
 6.92576035 6.98063994 7.3402781  7.23625011 7.12513959 7.16273195
 7.49148659 7.3963199  6.65824186 6.78412831 6.94850145 6.95109539
 7.29537041 6.75467317 7.18213522 7.0016682  7.01303768 6.75474274
 7.02855591 6.99160744 6.86083888 6.86180283 7.0331052  6.47157903
 7.20920494 7.11234881 7.323173   7.17576367 6.85919254 7.33248207
 7.15208824 6.88740581 6.83300716 7.41729054 6.92324892 6.95601225
 7.25880308 6.8716727  6.92576658 6.94660258 6.74493284 6.84104876
 6.84279013 6.57950216 6.80382648 6.50363906 7.13616033 6.92133835
 6.78258537 6.43622426 6.83986758 7.26178983 6.74720401 7.1256297
 6.84499929 7.37201356 7.2299203  6.90374851 6.80719063 6.72967475
 6.9103135  6.84416381 7.32673355 6.9606743  6.99002954 7.07442077
 6.89585752 6.90068451 7.08060525 7.01863188 6.98669471 6.8436549
 7.03360669 7.08504099 7.12607768 6.76103139 7.18392941 7.10255699
 7.23542393 7.0501803  7.14896771 6.91700596 7.01728527 7.26139915
 7.05662301 7.46937628 6.86807175 7.11793675 7.08095197 6.8113446
 7.2042203  7.0747193  6.92619299 7.01083035 6.96994355 7.21204866
 6.85232939 7.44054533 7.04781606 6.68323439 6.99485372 7.01408953
 6.90384622 7.10240977 7.28405347 6.97890716 6.910886   7.03754043
 7.0562789  6.84910201 7.26496355 6.99832257 7.07652354 7.22203766
 6.76373719 7.09206243 6.61981652 6.85465205 6.97493119 6.70074445
 6.90008446 6.79986294 6.58301588 7.36326113 6.77111997 6.69460118
 6.72883914 7.23410081 6.93122215 6.56832382 6.60993201 7.03151844
 6.74950343 6.45028725 6.97109257 6.70008729 6.55350332 6.93500818
 7.11999737 6.9798487  6.83936471 7.12653588 6.6211616  6.80079256
 7.20379128 7.11354395 7.09906934 7.05263016 7.16028916 7.19234161
 6.81006227 6.83187573 6.76746046 7.33615194 6.74766314 6.87442794
 6.99391404 7.08303499 7.13426436 7.09680638 6.87772616 7.1271052
 7.19642121 7.27214916 6.739444   7.01276148 7.48839518 7.0739183
 7.14859591 7.22782951 7.27876938 6.91824095 6.94094263 7.203986
 7.42138224 7.00029951 6.91669155 6.95375676 7.0939323  6.81339763
 7.19666503 6.70076973 7.03945707 7.08844721 7.15493136 6.81067096
 7.36431691 7.12778882 6.93512734 6.92461396 6.45422103 6.81465166
 7.15110162 6.75340672 7.17193512 6.96022204 6.99218702 7.04654207
 7.10592342 6.91990147 6.73316594 7.34093069 6.97777897 6.76482338
 6.8007341  6.69685096 7.16673983 6.91185656 7.15637945 6.69203527
 7.08775611 7.28258077 6.93786843 7.24331022 7.21453474 6.68497393
 7.1552055  6.72240834 6.76222107 6.96363522 6.56561699 6.88331208
 7.1979296  6.84131348 6.82164492 6.92605641 6.89740453 6.62766783
 7.11381014 7.54103682 6.72092884 6.87205564]

In [45]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print(score)

-0.02342142691698479

In [47]:

import pickle
with open('linear_regression_model.pkl', 'wb') as f:
    pickle.dump(model, f)